/******************************************/
/*          css B3D                       */
/*      ABE-JMI-EMO-NLA-JB?               */
/*                                        */
/******************************************/

/************************/
/*******general******/

@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');


:root {
    --color-1: #ae2626; /* utilisable avec var(--color-1), soulignement .... */
    --color-2: #330100; /* bloc sous-menu produits */
    --color-3: #8f1f1f; /*rouge fonçé ... ex : hover du btn envoyer*/
}

* {
  font-family:;
}

/*******general******/
html {
  font-size: 1rem;

}

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/bg.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }

p {
  color: ;
  line-height: ;
}

header, footer {
  font-size: 1.2rem;
  font-family: 'Acme', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

h3, h4 {
  font-family: 'Acme', sans-serif;
}

section img {
  border: 3px solid #fff;
}

.bloc-texte {
  background: white;
  border-radius: 7px 7px 0 0;
  padding: 0;
}

.titre-de-bloc {
  background: var(--color-1);
  width: 100%;
  height: 1.5em;
  color: white;
  line-height: 1.5em;
  padding-left: 10px;
  border-radius: 5px 5px 0 0;
}

.contenu-bloc-texte {
  padding: 10px;

}

.bloc1 {
  position: relative;
  top: -2.6em;
}

/**** flêche de scroll-up  ****/
.scroll-up {
  border-radius: 100%;
	position: fixed;
	bottom: 50px;
	right: 20px;
	display:none;
	color: white;
	background-color: var(--color-1);
	/*border: 3px solid var(--color-1);*/
	font-size: 20px;
  text-align: center;
  line-height: 2;
}

.scroll-up:hover {
	color: white;
}

/* bulle C02 */
#bubulle {
  /* background-color: #036338; */
  text-align: right;
  position: fixed;
  bottom: 7vh;
  left: -2vh;
  /* border-radius: 50%; */
  width: 14vh;
  height: 14vh;
  z-index: 500;
  filter: drop-shadow(0px 0px 3px #fff)
}

#modalCo2 table {
  width: 100%;
  text-align: center;
  background-color: #fff;
  border: 2px solid #dee2e6s;
}
.table thead {
  background-color: #FFF8DC;
}

#modalCo2 tr, #modalCo2 td, #modalCo2 th {
  border: 1px solid #dee2e6s;
}
.modal-header {
  background-color: var(--color-1);
}
.modal-content {
  background-color: #fff;
}
.modal-content p {
  color: #000;
}
.modal-content h4 {
  font-family: 'Acme', sans-serif;
  color: #fff;
  text-align: center;
}
.modal-dialog {
  max-width: 1000px !important;
}

/***********************************************************************/
/******************HEADER***********************************************/
  header {
  background-image: url('../images/header_bg.png');
  height: 13em;
  border-bottom: 3px solid var(--color-1);
  color: white;
  }

  header a {
    color: #fff !important;
  }

/*hauteur de la ligne/row dans le header */
  .en-tete {
    height: 80%;
  }

  /* taille des drapeaux */
  .drapeau {
    width: 2em;
    height: 2em;
  }

  /* soulignement des liens du menu */
  .navbar .nav-link.active {
    border-top: 2px solid var(--color-1);
    margin-top: -1px;
  }

  .navbar .nav-link:hover{
    transition: all 0.3s ease-in-out;
    border-top: 2px solid var(--color-1);
    margin-top: -1px;
    font-weight: bold;
  }

  /*soulignement de la page où l'on est, classe active déterminé via php $_SERVER['REQUEST_URI'] */
  .nav-item.active {
    border-top: 2px solid var(--color-1);
  }

/*******dropdown******/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  color: #fff !important;
  background-color: transparent;
  min-width: 160px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
  position:fixed;
  border: none;
}

.dropdown .dropdown-menu a {
  border-top: 1px solid #fff;
  margin-top: 2px;
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: table-cell;
}

.dropdown .dropdown-menu a:hover{
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    border-top: 2px solid #ae2626 !important;
    margin-top: 0px;
  }


.dropdown:hover .dropdown-menu{
  display: block;
}

/*****AJOUT NOEMIE BOUTON MENU RESPONSIVE*******/
.navbar-toggler{
  background-color: #AE2626;
}
.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



  /**** nav panel jeremy *****/

  nav>ul>li .nav-panel {
      max-height: 0;
      overflow: hidden;
      position: ;
      left: 0;
      top: 100%;
      z-index: 10;
      transition: max-height 0s ease-in;
    }
  nav>ul>li .nav-panel {
      background-color: #fff;
      width: 44em;
      transform: translate(-50%, 0);
    }
  nav>ul>li:hover .nav-panel {
      max-height: 100vh;
      transition-duration: 1s;
    }
  nav>ul>li:hover .nav-panel {
      border: 1px solid #ccc;
      border-radius: 0.25em;
      /*box-shadow: 2px 2px 6px #000;*/
    }
  .product-area-content {
      /*padding: 0.4em;*/
      display: flex;
      /*flex-wrap: wrap;*/
      justify-content: space-around;
      background-color: var(--color-2);
    }

  .product-link {
      width: 10em;
      margin: ;
      padding: 1em 1em 0 1em !important;
      /*border: 1px solid #777;
      border-radius: 0.25em;*/
      transition: transform 250ms ease-in;
    }

  .product-link:hover {
      background-color: var(--color-1) !important;
      transform: scale(1.05);
      font-weight: bold;
    }

    .product-link img {
      display: block;
      width: 100%;
      outline: 1px solid #ddd;
    }

/**********************************************/
/*****************FOOTER***********************/
footer {
  background-image: url('../images/footer_bg.png');
  height: 10em;
  border-top: 3px solid var(--color-1);
  color: white;
  /* position: absolute;
  bottom: 0; */
}

.bas-de-page {
  height: 100%;
}

.texte-footer {
  line-height: 1.2rem;
    font-size: 0.8rem;
}

/*****bloc-contact*******/


/****choix langue********/
#choix-langue {
  display: flex;
  background-image: url("../images/B3D_Essences_Acacia_11.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#choix-langue img {
  border: none;
}

#choix-langue .btn {
  background: none;
  color: white;
  font-size: 1rem;
  margin: 15px;
}

.btnsep {
  background: none;
  color: white;
  font-size: 1rem;
  margin: 20px;
}


#form-choix-langue {
  margin-top: 5%;
}

#choix-langue .btn:hover {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}
/****** page produit*****/
#produit h4 {
  padding: 0.5em 0;
  border-bottom: 3px solid var(--color-1);
}

#image-produit {
  border-right: 1px solid #ededed;
  padding: 1em;
}

#show-desc {
  color: #007bff;
  cursor: pointer;
}
.card {
  border: 1px solid var(--color-1);
  }

/***********tableaux************/
.hide {
  display: none;
}

#tableau thead{
  background: #FFF8DC;
}

/****page société******/


/******page-contact(FormContact)*****/
.etoile-erreur {
  color: var(--color-1);
  font-weight: bold;
}

#form-contact .btn-primary {
  background-color: var(--color-1);
  border: var(--color-1);
  border-radius: 5px;
  height: 2.5em;
  width: 7em;
}

#form-contact .btn-primary:hover{
  background-color: var(--color-3);
  border: var(--color-3);
}

/*********Fil Ariane**********/


/***********************************/
/********Tablette/Petit pc**********/
@media screen and (min-width: 768px) and (max-width: 992px){
/******REGLAGES DIVERS NLA********/
  .container{
    max-width: 90%;
  }
/*****REGLAGES PAGES PRODUITS NLA*****/
  #bloc-cards-products{
    flex-direction: column;
  }
/*******REGLAGES BLOC CONTACT NLA******/
  #bloc-contact{
    width: 95%;
  }
}

/*************************************
/*****Tablette/grand smartphone******/
@media screen and (min-width:576px) and (max-width:768px){
/******REGLAGES DIVERS NLA********/
  .container{
    max-width: 90%;
  }
/***REGLAGES PAGE CHOIX DE LANGUES NLA***/
  .btnsep{
    display: none;
  }
/*****REGLAGES PAGES PRODUITS NLA*****/
  #bloc-cards-products{
    flex-direction: column;
  }
}

/*************************/
/*******Smartphone********/
@media screen and (max-width: 576px) {
/******REGLAGES DIVERS NLA********/
  .container{
    max-width: 95%;
  }
/***REGLAGES PAGE CHOIX DE LANGUES NLA***/
  .logo > img{
    width: 70%;
  }
  #form-choix-langue{
    display: flex;
    flex-direction: column;
  }
  .btnsep{
    display: none;
  }
/*****REGLAGES PAGES PRODUITS NLA*****/
  #bloc-cards-products{
    flex-direction: column;
  }
/*******REGLAGES BLOC CONTACT NLA******/
  #bloc-contact{
    width: 95%;
  }
}
