/******************************************/
/*          css B3D                       */
/*      ABE-JMI-EMO-NLA-JB?               */
/*                                        */
/******************************************/


/************************/
/*******general******/

@import url('https://fonts.googleapis.com/css?family=Acme');

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');


:root {
    --color-1: #ae2626; /* utilisable avec var(--color-1), soulignement .... */
    --color-2: #330100; /* bloc sous-menu produits */
}

* {
  font-family:;
}

/*******general******/
html {
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/bg.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

p {
  color: ;
  line-height: ;
}

header, footer {
  font-size: 1.2rem;
  font-family: 'Acme', sans-serif;
}

h3 {
  font-family: 'Acme', sans-serif;
}

section img {
  border: 3px solid #fff;
}

.bloc-texte {
  background: white;
  border-radius: 5px 5px 0 0;
  padding: 0;
}

.titre-de-bloc {
  background: var(--color-1);
  width: 100%;
  height: 1.5em;
  color: white;
  line-height: 1.5em;
  padding-left: 10px;
  border-radius: 5px 5px 0 0;
}

.contenu-bloc-texte {
  padding: 10px;

}
/***********************************************************************/
/******************HEADER***********************************************/
  header {
  background-image: url('../images/header_bg.png');
  height: 13em;
  border-bottom: 3px solid var(--color-1);
  color: white;
  }

  header a {
    color: #fff !important;
  }

/*hauteur de la ligne/row dans le header */
  .en-tete {
    height: 80%;
  }

  /* taille des drapeaux */
  .drapeau {
    width: 2em;
    height: 2em;
  }

  /* soulignement des liens du menu */
  .navbar .nav-link.active {
    border-top: 2px solid var(--color-1);
    margin-top: -1px;
  }

  .navbar .nav-link:hover{
    transition: all 0.3s ease-in-out;
    border-top: 2px solid var(--color-1);
    margin-top: -1px;
    font-weight: bold;
  }

  /*soulignement de la page où l'on est, classe active déterminé via php $_SERVER['REQUEST_URI'] */
  .nav-item.active {
    border-top: 2px solid var(--color-1);
  }

  /**** nav panel jeremy *****/

  nav>ul>li .nav-panel {
      max-height: 0;
      overflow: hidden;
      position: ;
      left: 0;
      top: 100%;
      z-index: 10;
      transition: max-height 0s ease-in;
    }
  nav>ul>li .nav-panel {
      background-color: #fff;
      width: 44em;
      transform: translate(-50%, 0);
    }
  nav>ul>li:hover .nav-panel {
      max-height: 100vh;
      transition-duration: 1s;
    }
  nav>ul>li:hover .nav-panel {
      border: 1px solid #ccc;
      border-radius: 0.25em;
      box-shadow: 2px 2px 6px #000;
    }
  .product-area-content {
      padding: 0.4em;
      display: flex;
      /*flex-wrap: wrap;*/
      justify-content: space-around;
      background-color: var(--color-2);
    }

  .product-link {
      width: 10em;
      margin: ;
      padding: 1em 1em 0 1em !important;
      /*border: 1px solid #777;
      border-radius: 0.25em;*/
      transition: transform 250ms ease-in;
    }

  .product-link:hover {
      background-color: var(--color-1) !important;
      transform: scale(1.05);
      font-weight: bold;
    }

    .product-link img {
      display: block;
      width: 100%;
      outline: 1px solid #ddd;
    }

/**********************************************/
/*****************FOOTER***********************/
footer {
  background-image: url('../images/footer_bg.png');
  height: 10em;
  border-top: 3px solid var(--color-1);
  color: white;
}

.bas-de-page {
  height: 100%;
}

.texte-footer {
  line-height: 0.2em;
}

/*****bloc-contact*******/


/****choix langue********/
#choix-langue {
  display: flex;
  background-image: url("../images/B3D_Essences_Acacia_11.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#choix-langue img {
  border: none;
}

#choix-langue .btn {
  background: none;
  color: white;
  font-size: 1rem;
  margin: 15px;
}

.btnsep {
  background: none;
  color: white;
  font-size: 1rem;
  margin: 20px;
}


#form-choix-langue {
  margin-top: 5%;
}

#choix-langue .btn:hover {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}
/****** page produit*****/

/***********tableaux************/
.table, tr, td, th {
}

/****page société******/
#part1-societe {
  position: relative;
  top: -2.6em;
}
/******page-contact(FormContact)*****/

/*********Fil Ariane**********/

/***********************************/
/********Tablette/Petit pc**********/
@media screen and (min-width: 768px) and (max-width: 992px){

}
/*************************************
/*****Tablette/grand smartphone******/
@media screen and (min-width:576px) and (max-width:768px){
}

/*************************/
/*******Smartphone********/
@media screen and (max-width: 576px) {
}
